# ===== Flutter (all apps) =====
**/.dart_tool/
**/build/
**/.idea/
**/*.iml
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/local.properties

# ===== iOS / macOS =====
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/

# ===== Windows / Linux =====
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# ===== OS junk =====
__MACOSX/
.DS_Store

# ===== Archives / exports =====
**/zips/
*.zip

__MACOSX/
ani_care/zips/
